<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Forum</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">Edit profile</h1>
    <form action='' method="post">
      <div>
        <label for="fullname">Full name</label>
        <input type="text" class="form-control" id="fullname" name="fullname">
      </div>

      <div>
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location">
      </div>

      <div>
        <label for="career">Career</label>
        <input type="text" class="form-control" id="career" name="career">
      </div>
       <button type="submit" class="btn btn-success">Edit</button>
    </form>
  </div>
</body>
</html>